<div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>New Products</h3>
    		</div>
    		<div class="see">
    			<p><a href="#">See all Products</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group" *ngFor="let product of products">
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="preview.html"><img src="{{product.img}}" alt="" /></a>
					 <h2>{{product.name}} </h2>
           <p class="card-text">{{product.desc}}</p>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">${{product.price}}</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="preview.html">Add to Cart</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
					 
				</div>
			</div>
    </div>
 </div>
